streamlit
streamlit_lottie
streamlit_option_menu
langchain
langchain_community
python-dotenv==0.19.2
together
huggingface_hub
faiss-cpu
pandas
spacy
nltk
fuzzywuzzy
pydantic==1.9.1
sentence_transformers
einops